@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

/*scrollbar*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgb(177,173,173,);
    border-radius: 6px;
}
body{
    background-color: #EaE202;
}
a{
    text-decoration: 0;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
ul {
    list-style: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8%;
    padding: 20px 0;
    border-bottom: 1px solid #000;
}
.header-logo {
    font-weight: 500;
}
.header-menu{
    display: flex;
}
.header-menu a {
    margin-left: 20px;
    padding-bottom: 3px;
    position: relative;
}
.header-menu a::after{
    position: absolute;
    left:0;
    bottom:-2px;
    content: "";
    height:1px;
    width:0%;
    background-color: #000;
    transition: 0.5s ease-out;
}
.header-menu a:hover::after{
    width: 100%;
}
.header-buttons a{
    margin-left: 20px;
}
.header-buttons a:last-child {
    border: 1px solid #000;
    padding: 10px 30px;
    transition: 0.5s;
}
.header-buttons a:last-child:hover {
    background-color: #000;
    color: #fff;
}
/*classes*/
.title{
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 2px;
    color: #5e493a;
}
p {
    color: rgb(97,96,96,);
    margin: 20px 0;
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 25px;
}
/*home*/
.home {
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh-80px);
    width: 100%;
}
.home-left {
    width: 35%;
}
.home-right {
    width: 60%;
    height: 500px;
}
.home-right img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.home-button button {
    border: 1px solid #000;
    cursor: pointer;
    padding: 10px 25px;
    background-color: transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);

}
.home-button button:hover{
    background-color: #000;
    color:#EaE2d2;
    transition: 0.5s ease-out;
}
.home-about-us {
    position:absolute;
    top: 100px;
    right: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    flex-direction: column;
    background-color: #EaE2d2;
    transition: 0.3s ease-out;
    overflow:hidden;
    width:0%;
}
.home-about-us img{
    height: 400px;
    width: 400px;
    object-fit:cover;
}
.home-button button:last-child{
    margin-left:15px;
}
.home-button button:last-child:focus.home-about-us{
    width: 52%;
    border-left:1px solid #5e493a;
}
.home-about-us h1 {
    margin-bottom: 20px;
    font-size: 35px;
    color: #000;
}
/*best sales*/
.best-sales {
    padding: 20px 8%;
}
.best-sales-product {
    margin-top: 45px;
    display:grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-column-gap:10px;
    grid-row-gap:10px;
    height: 80vh;
}
.div1{
    grid-area: 1/1/6/3;
    
}
.div2{
    grid-area: 2/3/7/5;
    
}
.div3{
    grid-area: 1/5/7/6;
    
}
.div4{
    grid-area: 1/3/2/5;
    
}
.div5{
    grid-area: 6/1/7/3;
    
}
.div6{
    grid-area: 1/6/6/8;
    
}
.div7{
    grid-area: 6/6/7/8;
    
}
.best-sales-product div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s ease-out;
}
.best-sales-product div img:hover{
    filter: grayscale(0);
}
.best-sales-product div span {
    color: #5e493a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}
.div3,.div5,.div7,.div4 {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div3 {
    width: 170px;
    background-color: #000;
}
.div3 span {
    transform: rotate(-90deg);
    color:#fff;
    font-size:60px;
}
/*best sales*/
/*img section*/
.img-section {
    padding: 20px 8%;
    width: 100%;
}
.img-section-content {
    width: 100%;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.img-section h1 {
    text-align: right;
    margin: 35px 0;
}
.img-section img {
    width: 100%;
    transition: 0.5s;
    filter: grayscale(100);
}
.img-section img:hover{
    filter: grayscale(0);
}
.img-section-content p{
    text-align: center;
    border: 1px solid #000;
    padding: 20px;
    margin: 0;
    margin-top: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
/*img section*/
/*footer*/
footer {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column-gap:35px ;
    grid-row-gap: 0px;
    padding: 35px 8%;
    margin-top: 35px;
    text-transform: uppercase;
}
.col1{
    grid-area: 1/1/4/4;
}
.col2{
    grid-area: 1/4/4/6;
}
.col3{
    grid-area: 1/6/4/8;
}
.col4{
    grid-area: 1/8/4/10;
}
.col2,.col3{
    display:flex;
    flex-direction:column;
}
.footer-newletter {
    border: 1px solid #000;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.footer-newletter input {
    width: 75%;
    background: transparent;
    border: 0;
    outline: 0;
}
.footer-newletter button {
    background-color: transparent;
    width: 76px;
    height: 100%;
    border: 0;
    transition: 0.2s;
    cursor: pointer;
}
.footer-newletter button:hover {
    font-weight: bold;
}
.icons{
    display: flex;
}
.icons i {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    font-size: 14px;
    border-radius: 50%;
    transition: 0.5s ease-out;
}
.icons i:hover{
    background-color: #000;
    color: #fff;
}
.small-title {
    padding: 10px 0;
    border-bottom: 1px solid #000;
}
.col2 a,.col3 a{
    margin: 5px 0;
    transition: 0,5s ease-out;
}
.col2 a:hover,.col3 a:hover{
    font-weight:500;
}
.col4 button {
    border: 1px solid #000 ;
    height: 150px;
    width: 150px;
    background-color: transparent;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.col4 button:hover{
    background-color: #000;
    color: #fff;
}




/*footer*/
/*home*/
